# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Firebase / secrets
app/google-services.json

# Environment files
.env
.env.*

# Keystore files
*.jks
*.keystore

# Signing configs
key.properties